:root {
  --color-white: #f5f5f5;
  --color-black: #333;
  --color-cyan: #7bb7fa;
}

html {
  /* set the base font-size */
  font-size: 62.5%;
}

body {
  /* set the default background */
  background: var(--color-white);

  /* set the default font-color */
  color: var(--color-black);
}

/* code blocks */
code[class*="language-"],
pre[class*="language-"] {
  font-size: 2rem;
}

a {
  /* set the default link color */
  color: var(--color-cyan);
}

/* https://hiroppy.github.io/fusuma/docs/guides/slide-syntax#declaring-section-title */
.section-title {
}

.title {
}

/* 中央寄せをリセット */
.aligncenter {
  text-align: left;
}

ul, ol {
  margin-left: 5rem;
}

.slide {
  padding-right: 10rem;
  padding-left: 10rem;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

h3 {
  font-size: 2.8rem;
}

li {
  line-height: 6rem;
}

/* 入れ子のインデントを増やす */
ul, ol {
  margin-top: 2rem;
}

li > ul, ol {
  margin-left: 5rem;
  margin-top: 0rem;
}

/* トップレベルのリストはマージンを増やす */
section > ul, ol > li {
  margin-top: 0rem;
  margin-bottom: 2rem;
}

img {
  border-radius: 8px;
}

.note {
  color: gray(50);
  font-style: italic;
}

.cite {
  font-size: 1.5rem;
  padding: 16px;
  text-align: center;
}

.hs-8 {
  margin-right: 0.8rem;
}

.vs-16 {
  margin-bottom: 1.6rem;
}
